@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>jumbotron 超大屏幕</p>
        <p>除了更大的 h1，字体粗细 font-weight 被减为 200px</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

    </div>
</div>
@@
<div class="container" style="margin-bottom:15px;background-color:#e7f6d9;">
    <div class="row">
        <div class="col-md-6">
            提示標籤span class="badge"<span class="badge">提示</span>
            <hr />
            提示標籤:empty 選擇器(ie8 not)<span class="badge"></span>
        </div>
        <div class="col-md-6">
            <div class="page-header">
                <h1>Example page header <small>Subtext for header</small></h1>
            </div>
            <div>
                <h1>Example page header <small>Subtext for header</small></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="http://www.photowant.com/photo101/fpen44572514/pl_fpen44572514_0014.jpg" alt="...">
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="http://www.photowant.com/photo101/fpen44572514/pl_fpen44572514_0014.jpg" alt="...">
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="http://www.photowant.com/photo101/fpen44572514/pl_fpen44572514_0014.jpg" alt="...">
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="http://www.photowant.com/photo101/fpen44572514/pl_fpen44572514_0014.jpg" alt="...">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://www.photowant.com/photo101/fpen44572514/pl_fpen44572514_0014.jpg" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://www.photowant.com/photo101/fpen44572514/pl_fpen44572514_0014.jpg" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://www.photowant.com/photo101/fpen44572514/pl_fpen44572514_0014.jpg" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://www.photowant.com/photo101/fpen44572514/pl_fpen44572514_0014.jpg" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-success" role="alert">Success...</div>
            <div class="alert alert-info" role="alert">Info</div>
            <div class="alert alert-warning" role="alert">Warning</div>
            <div class="alert alert-danger" role="alert">Danger</div>
            <div class="alert alert-success"> Success  <a herf="#" class="alert-link">Link </a> <a herf="#">Link </a> </div>
            <div class="alert alert-success alert-dismissable">
                <a class="close" data-dismiss="alert" aria-label="close"> x </a>
                Click the 'x' in right to dismiss this alert
            </div>
            <div class="alert alert-success fade in alert-dismissable">
                <a class="close" data-dismiss="alert" aria-label="close"> x </a>
                Click the 'x' in right to dismiss this alert and get fade in animation
            </div>
        </div>
        <div class="col-md-6">
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                    <span>7% Complete</span>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    60%
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    0%
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                    2%
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 35%">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
                <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                    <span class="sr-only">20% Complete (warning)</span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: 10%">
                    <span class="sr-only">10% Complete (danger)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="media">
                <a class="pull-right" href="#">
                    <img src="https://www.newmobilelife.com/wp-content/uploads/2015/11/LOL.jpg" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    本章我们将讲解 Bootstrap 中的多媒体对象（Media Object）。这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
                    媒体对象轻量标记、易于扩展的特性是通过向简单的标记应用 class 来实现的。你可以在 HTML 标签中添加以下两种形式来设置媒体对象：
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <img src="https://www.newmobilelife.com/wp-content/uploads/2015/11/LOL.jpg" alt="...">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        本章我们将讲解 Bootstrap 中的多媒体对象（Media Object）。这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
                        媒体对象轻量标记、易于扩展的特性是通过向简单的标记应用 class 来实现的。你可以在 HTML 标签中添加以下两种形式来设置媒体对象：
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        本章我们将讲解 Bootstrap 中的多媒体对象（Media Object）。这些抽象的对象样式用于创建各种类型的组件（比如：博客评论），我们可以在组件中使用图文混排，图像可以左对齐或者右对齐。媒体对象可以用更少的代码来实现媒体对象与文字的混排。
                        媒体对象轻量标记、易于扩展的特性是通过向简单的标记应用 class 来实现的。你可以在 HTML 标签中添加以下两种形式来设置媒体对象：
                    </div>
                    <a class="media-left" href="#">
                        <img src="https://www.newmobilelife.com/wp-content/uploads/2015/11/LOL.jpg" alt="...">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>Cras justo odio</li>
                <li>Dapibus ac facilisis in</li>
                <li>Morbi leo risus</li>
                <li>Porta ac consectetur ac</li>
                <li>Vestibulum at eros</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item"><span class="badge">A</span> Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-success">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item disabled">Vestibulum at eros</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default panel-danger">
                <div class="panel-heading">
                    <div class="panel-title">Title</div>
                </div>
                <div class="panel-body">
                    Basic panel example
                </div>
                <div class="panel-footer">footer</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    <p>panel - body</p>
                </div>
                <!-- Table -->
                <table class="table">
                    <tbody>
                        <tr><td>123</td></tr>
                        <tr><td>456</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Panel heading</div>
                <!-- Table -->
                <table class="table">
                    <tbody>
                        <tr><td>123</td></tr>
                        <tr><td>456</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    <p>panel - body</p>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
                @*<iframe class="embed-responsive-item" src="//aka.ms/ampembed?url=https%3A%2F%2Fmayatp.streaming.mediaservices.windows.net%2Ffde7add3-08b2-4a9d-ba70-42f3eee20318%2Fa60a798a-ebf7-416e-8016-16602287b9ad.ism%2Fmanifest" name="azuremediaplayer" scrolling="no" frameborder="no" align="center" height="280px" width="500px" allowfullscreen></iframe>*@
            </div>
            <!-- 4:3 aspect ratio -->
            <div class="embed-responsive embed-responsive-4by3">
                @*<iframe class="embed-responsive-item" src="//aka.ms/ampembed?url=https%3A%2F%2Fmayatp.streaming.mediaservices.windows.net%2Ffde7add3-08b2-4a9d-ba70-42f3eee20318%2Fa60a798a-ebf7-416e-8016-16602287b9ad.ism%2Fmanifest" name="azuremediaplayer" scrolling="no" frameborder="no" align="center" height="280px" width="500px" allowfullscreen></iframe>*@
            </div>
            <div>
                @*<iframe src="//aka.ms/ampembed?url=https%3A%2F%2Fmayatp.streaming.mediaservices.windows.net%2Ffde7add3-08b2-4a9d-ba70-42f3eee20318%2Fa60a798a-ebf7-416e-8016-16602287b9ad.ism%2Fmanifest" name="azuremediaplayer" scrolling="no" frameborder="no" align="center" height="280px" width="500px" allowfullscreen></iframe>*@
            </div>
        </div>
    </div>
    @*https://mayatp.streaming.mediaservices.windows.net/fde7add3-08b2-4a9d-ba70-42f3eee20318/a60a798a-ebf7-416e-8016-16602287b9ad.ism/manifest*@

</div>

<div class="container" style="margin-bottom:15px;">
    <div class="row">
        <div class="col-md-4" style="background-color:red;">AAA</div>
        <div class="col-md-offset-3" style="background-color:green;">BBB</div>
        <div class="col-md-2" style="background-color:gray;">CCC</div>
    </div>
</div>

@using (Html.BeginForm("Edit", "Note", FormMethod.Post, new { id = "noteForm" }))
{
    @*<p>
            <label for="cname">Name<span style="color:red;">*</span></label>
            <input id="cname" name="name" minlength="2" type="text" required>
        </p>
        <p>
            <label for="cemail">E-Mail<span style="color:red;">*</span></label>
            <input id="cemail" name="email" class="required_class">
        </p>
        <p>
            <label for="curl">URL</label>
            <input id="curl" name="url">
        </p>
        <p>
            <label for="ccomment">備註<span style="color:red;">*</span></label>
            <textarea id="ccomment" name="comment" required></textarea>
        </p>
        <p>
            <label for="date">日期</label>
            <input id="date" name="date" />
        </p>
        <p>
            <label for="date">日期ISO</label>
            <input id="date" name="dateiso" />
        </p>*@
    <p>
        <label for="date">內容範圍</label>
        <input id="range" name="range" required data-msg="必要項，必需輸入" />
    </p>
    <p>
        <label for="date">字數範圍</label>
        <input id="rangelen" name="rangelen" class="required_class" />
    </p>
    @*<p>
            <label for="date">required message</label>
            <input id="requiredMessage" name="requiredMessage" required data-msg="必要項，必需輸入" />
        </p>*@

    <p>
        @*<label for="agree">请同意我们的条款</label>
        <input type="checkbox" class="checkbox" id="agree" name="agree" required>
        <br>
        <label for="agree" class="error block">请同意我们的条款！</label>*@
    </p>

    <p>
        <label for="fruit">请选择至少两种水果</label><br>
        <select id="fruit" name="fruit" title="请选择至少两种水果！" required minlength="2" multiple="multiple">
            <option value="b">Banana</option>
            <option value="a">Apple</option>
            <option value="p">Peach</option>
            <option value="t">Turtle</option>
        </select>
    </p>
    <p>
        婚姻状况
        @*<label for="family_single">
            <input type="radio" id="family_single" value="s" name="family" required>
            单身
        </label>
        <label for="family_married">
            <input type="radio" id="family_married" value="m" name="family">
            已婚
        </label>
        <label for="family_other">
            <input type="radio" id="family_other" value="o" name="family">
            其他
        </label>
        <label for="agree" class="error block">请同意我们的条款！</label>*@
    </p>
    <p>
        @*<label for="math">7 + 4 = </label>
        <input id="math" name="math" title="请输入正确的结果！" />
        <span></span>*@
    </p>
    <p>
        <input class="submit" type="submit" value="Submit">
    </p>
    <p id="errorMsg">

    </p>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $.validator.addMethod("notEqualsto", function (value, element, arg) {
                return arg != value;
            }, "Default Error Message");

            $(document).on("submit", "#noteForm", function (e) {
                e.preventDefault();
                $("#noteForm").validate({
                    errorClass: "invalid",
                    //errorElement: "em",
                    ////errorContainer: $("#warning, #summary"),
                    //errorPlacement: function (error, element) {
                    //    error.appendTo(element.parent("p").next("span"));
                    //},
                    //success: function (label) {
                    //    label.text("ok!").addClass("success");
                    //},
                    rules: {
                        name: {
                            required: true,
                            maxlength: 20,
                            minlength: 3
                        },
                        email: {
                            required: true,
                            email: true
                        },
                        url: {
                            url: true
                        },
                        date: {
                            date: true
                        },
                        dateiso: {
                            dateISO: true
                        },
                        range: {
                            range: [5, 10]
                        },
                        rangelen: {
                            rangelength: [5, 10]
                        },
                        numberis: {
                            number: true
                        },
                        intis: {
                            digits: true
                        },
                        math: {
                            equal: 11
                        }
                    },
                    messages: {
                        blood: { notEqualsto: "請務必選擇，勿留空白" }//,
                        //rangelen: { rangelength: "numberis 自訂訊息" }
                    },
                    showErrors: function (errorMap, errorList) {
                        $("#errorMsg").html("Your form contains " + this.numberOfInvalids() + " errors,see details below.");
                        this.defaultShowErrors();
                    }
                });
            });

            $.validator.addClassRules({
                "required_class": { required: true }
            });
        });

    </script>
}


<style>
    em.error {
        background: url("http://pic.pimg.tw/jasonlin01/1348841901-1027980745.png") no-repeat 0px 0px;
        padding-left: 16px;
    }

    em.success {
        background: url("http://www.msqq.com/d/file/icon/2014-04-01/a131b57f120130449646e1af3774e797.png") no-repeat 0px 0px;
        background-size:30px 30px;
        padding-left: 16px;
    }

    .invalid {
        color: green;
    }

    .error {
        color: red;
    }
</style>
