@{
    ViewBag.Title = "Index";
}

<div class="container" style="margin-bottom:15px;background-color:#e7f6d9;">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert"><a href="@Url.Action("Cindex")">CIndex</a></div>
            <hr />
            <div class="alert alert-info" role="alert"><a href="@Url.Action("JSPage")">JSPage</a></div>
            <hr />
            <div class="alert alert-info" role="alert"><a href="@Url.Action("BIndex")">BIndex</a></div>
            <hr />
            <div class="alert alert-info" role="alert"><a href="@Url.Action("Contact")">Contact</a></div>
        </div>
    </div>
</div>
